@import "node_modules/bootstrap/less/bootstrap";
@import "node_modules/bootswatch/sandstone/bootswatch";
@import "node_modules/bootswatch/sandstone/variables";

#main {
    .container;

    > header {
        .page-header;
    }

    > article {
        .make-row();
    }
}

#fields {
    .make-row();
    margin-bottom: 3em;

    > form {
        > div {
            .make-row();
            margin-bottom: 1em;

            > label {
                .make-sm-column(3);
                text-align: right;
            }

            > input, > select {
                .make-sm-column(3);
            }

            > span {
                margin-left: 1em;
                .text-warning;
            }
        }
    }
}

table {
    .table;
    .table-striped;
    .table-bordered;

    table-layout: fixed;

    thead th {
        &.value {
            width: 10%;
        }

        &.name {
            width: 20%;
        }

        &.description {
            width: 45%;
        }

        &.note {
            width: 25%;
        }
    }
}

// Sticky footer styles
// refs: http://getbootstrap.com/examples/sticky-footer/sticky-footer.css

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 130px;
}

footer {
    .text-left;
    .container;

    position: absolute;
    bottom: 0;
    height: 130px;
    padding-top: 1em;

    p {
        .text-muted;
    }
}
